.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}


.todoList {
  background-color: aquamarine;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}